body {
    margin: 0;
    font-size: 28px;
    background: url("background.jpg") no-repeat
}

.header {
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #000497;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 16px;
    margin-right: 8%;
    margin-left: 3%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.footer{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    font-size: 15px;
}

.mid{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}